<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

<body>
    <div class="container-fluid">
        <%- include('./partials/header') %>
        <%- include('./partials/navbar') %>

        <div id="login-container" class="row " >
            <form class=" col-5" id="formulario" action="/user/register" method="POST" enctype="multipart/form-data">
              <div class="row"><div class="col-12">
                <% if (typeof errors !="undefined")  { %>
                  <div class="alert alert-danger" role="alert">
                    Chequeá tu formulario
                  </div>
                  <ul>
                      <% for(let i = 0; i < errors.length; i++) { %>
                          <li>
                              <%=errors[i].msg%> 
                          </li>
                      <% } %>
                  </ul>
              <% } %>
              </div>
            </div>
              <div class="row">
                <h1 class="col-12 text-center">Registro</h1>
                <div class="name col-12">
                  <label for="first_name ">Nombre:</label>
                  <input class="form-control col-8" type="text" name="first_name">
                </div>
                <div class="last_name col-12">
                  <label for="last_name">Apellido:</label>
                  <input class="form-control col-8" type="text" name="last_name">
                </div>
                <div class="email col-12">
                  <label for="email">Email:</label>
                  <input class="form-control col-8" type="email" name="email">
                </div>
                <div class="password col-12">
                  <label for="password">Contraseña:</label>
                  <input class="form-control col-8" type="password" name="password">
                  <label for="password2">Contraseña:</label>
                  <input class="form-control col-8" type="password" name="password2">
                </div>
                <div class="avatar col-12">
                  <label for="avatar">Avatar:</label>
                  <input class="form-control col-8" type="file" name="avatar">
                </div>
                <div class="enviar col-9">
                  <button class="btn btn-success mt-4" type="submit">REGISTRARME</button>
                </div>
              </div>
            </form>

        </div>

       
            <%- include('./partials/footer') %>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>

</html>